* {
  margin: 0;
  padding: 0;
}

#leaderboard-title {
  margin: 6%;
  color: red;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
  font-style: italic;
  letter-spacing: 6px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.main-content {
  width: 40%;
  margin: auto;
  margin-top: 0;
}

#scores-refresh {
  display: flex;
}

#refresh-btn {
  margin: auto;
}

#scores-ul {
  width: 100%;
  border: solid black;
  padding-left: 10px;
}

li {
  list-style-type: none;
  padding: 6px 0;
}

#form-section {
  order: -1;
}

#name-score-form {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-elm {
  margin-bottom: 14px;
}

#submit-btn {
  align-self: flex-end;
}

@media screen and (min-width: 358px) {
  main {
    flex-direction: row;
  }

  #form-section {
    order : 0
  }
  
}
